<ion-header 
    [translucent]="true"
    collapse="fade">
    <ion-toolbar>
        <ion-title>
            Home Page
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<nav>
    <ion-button (click)="vendita()">Inserimento Vendita</ion-button>
    <ion-button (click)="toDo()">To Do List</ion-button>
    <ion-button (click)="canvas()">Canvas</ion-button>
</nav>
<div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
</div>
<div>
    <canvas #testCanvas height="297" width="210">

    </canvas>
</div>
</ion-content>
