<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>doc-canvas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">doc-canvas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Documento
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <table id="preview-table" #preview width="800">
        <thead>
          <th *ngFor="let h of this.getKeys()">
            {{ h }}
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let e of this.dataList">
            <td>
              {{ e.id }}
            </td>
            <td>
              {{ e.nome }}
            </td>
            <td>
              {{ e.prodotto }}
            </td>
            <td>
              {{ e.prezzo }}
            </td>
            <td>
              {{ this.getData(e.id) }}
            </td>            
          </tr>
        </tbody>
      </table>
      <canvas #docCanvas width="600" height="615">

      </canvas>
    </ion-card-content>
    <ion-card-content id="doc-canvas">

    </ion-card-content>
  </ion-card>
</ion-content>
