<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>doc-canvas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">doc-canvas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Documento
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #docCanvas width="800" height="1130">
        <!--troppo pochi pixels-->
      </canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
